---
import Layout from "../layouts/Layout.astro";
import PhotoGrid from "../components/PhotoGrid.astro";
---

<Layout title="Første dag" description="Rejsedag">
  <h1 class="gallery-label">Rejsedag</h1>
   <p >
   Vi vågnede kl 6 og tog taxa til banegården.
   </p>
   <p>Destination: Sandman Hotel Calgary Airport
   </p>
   <p>25 Hopewell Way NE, Calgary, AB T3J 4V7, Canada
   </p>

   <br/>
   <br/>
  <PhotoGrid collection="dag1" />
</Layout>
