---
import Layout from "../layouts/Layout.astro";
import PhotoGrid from "../components/PhotoGrid.astro";
---

<Layout title="Første dag" description="Dag 2">
  <h1 class="gallery-label">Dag 2</h1>
   <p class="post-card__excerpt">
   Venter spændt
   </p>
   <br/>
BILLEDE
En lækker god stor morgenmad/brunch.
BILLEDE
<gulp> til prisen
Vi fik endelig hævet nogle canadiske dollars og fik at vide at 1- og 2-mønterne hedder henholdsvis loonies og twonies 
   <br/>
  <PhotoGrid collection="dag2" />
</Layout>
