---
import Layout from "../layouts/Layout.astro";
import PhotoGrid from "../components/PhotoGrid.astro";
---

<Layout title="Første dag" description="Dag 8">
  <h1 class="gallery-label">Dag 8</h1>
   <p class="post-card__excerpt">
   Venter spændt
   </p>
   <br/>
   <br/>
  <PhotoGrid collection="dag8" />
</Layout>
