---
import Layout from '../layouts/Layout.astro';
import PhotoGrid from '../components/PhotoGrid.astro';
---

<Layout>
  <p class="post-card__excerpt">7 hoteller og et skib - spændende
  </p>
</Layout>
