---
import Layout from "../layouts/Layout.astro";
import PhotoGrid from "../components/PhotoGrid.astro";
---

<Layout title="Rejsedag" description="Rejsedag">
  <h1 class="gallery-label">Rejsedag</h1>
  <PhotoGrid collection="rejsedag" />
</Layout>
